{% set ep = request.endpoint %}
<a class="nav-modulo-link{% if ep == 'dashboard' %} nav-modulo-link--active{% endif %}"
    href="{{ url_for('dashboard') }}">Dashboard</a>
<a class="nav-modulo-link{% if ep == 'mis_cursos' %} nav-modulo-link--active{% endif %}"
    href="{{ url_for('mis_cursos') }}">Mis cursos</a>
<a class="nav-modulo-link{% if ep == 'plan_estudios' %} nav-modulo-link--active{% endif %}"
    href="{{ url_for('plan_estudios') }}">Plan de estudios</a>
<a class="nav-modulo-link{% if ep == 'progreso' %} nav-modulo-link--active{% endif %}"
    href="{{ url_for('progreso') }}">Progreso</a>
<a class="nav-modulo-link{% if ep == 'tutor_ai' %} nav-modulo-link--active{% endif %}"
    href="{{ url_for('tutor_ai') }}">Tutor IA</a>
